html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
}
a {
    text-decoration: none;
    color: #818181;
    margin: 15px;
}

a:hover {
    color: black;
    cursor: pointer;
}

h1, h2, p {
    margin: 0;
}

h2 {
    line-height: 46.5px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: black;
    padding: 26px 40px;
    text-align: center;
    font-size: 1.2em;
    z-index: 5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);   
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.7em;
    font-weight: bold;
}

.logo-group {
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
}

.nav-button {
    text-decoration: none;
    position: relative;
}

.nav-button.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

#searchInput {
    height: 25px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #9c131d;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 6;
}

.sidebar.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.notifications {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1000;
}

.notification {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
    display: none;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #F44336;
}

.menu-button {
    display: none;
}

main {
    background-color: #ffffff;
    min-height:50em;
}

.main-elements {
    height: 40vh;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.main-big-text {
    font-size: 3em;
    color: black;
}

.main-big-img {
    height: 40vh;
    float: right;
}

button {
    padding: 12px 20px;
    background-color: #9c131d;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #fff;
    color: #9c131d;
    border: 2px solid #9c131d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.horiz-button-menu {
    display: flex;
    justify-content: center;
}

.horiz-button-menu button {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fff;
    color: black;
    border: 2px solid #fff;
    
}

.horiz-button-menu button:hover {
    background-color: #fff;
    color: #9c131d;
    border: 2px solid #9c131d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.spacer-button {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: black;
    font-size: large;
}

.modal-recovery, .modal-agreement, .modal{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.modal{
    z-index:7;
}

.modal-recovery{
    z-index:8;
}

.modal-agreement{
    z-index: 8;
}

.modal-content {
    height: fit-content;
    background-color: #fff;
    color: #000000;
    max-height: 80vh;
    overflow-y: auto;
    padding: 40px 30px 20px 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    animation: fadeIn 0.3s;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Отступ для ссылки */
}

form {
    display: grid;
    grid-row-gap: 10px;
}

.close {
    margin-left: 3px;
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 27px;
}

.modal-content p{
    text-align: center;
}

.modal-content label {
    margin-top: 15px;
}

.modal-content input {
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.modal-content input:focus {
    border-color: #9c131d;
    outline: none;
    box-shadow: 0 0 0 2px #9c131d;
}

.modal-content input:hover {
    border-color: #9c131d;
    outline: none;
    box-shadow: 0 0 0 2px #9c131d;
    transition: 0.3s;
}

.modal-content .button-container{
    display: flex;
}

.modal-content button {
    margin: 10px auto 0 auto;
    padding: 12px 20px;
    background-color: #9c131d;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #fff;
    color: #9c131d;
    border: 2px solid #9c131d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content .selected {
    background-color: #fff;
    color: #9c131d;
    border: 2px solid #9c131d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content a {
    text-align: center;
}

.eye-link {
    position: absolute;
    right: 10px; /* Расположение ссылки внутри поля */
    top: 3px;
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 18px; /* Размер иконки */
    cursor: pointer; /* Курсор при наведении */
}

.PerDataLink {
    transition: 0.3s;
    margin: 0px;
}

.PerDataLink:hover {
    color: #9c131d;
    transition: 0.3s;
}

.symbols-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Пробел между карточками */
    margin: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px; /* Ширина карточки */
    text-align: center;
}

.card:hover {
    cursor: pointer;
    background-color: #eee;
    border-color: #9c131d;
}

.card:hover .card-fav {
    display: flex;
}

.card-image-block {
    position: relative;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-fav {
    height: 25px;
    width: 25px;
    display: none;
    position: absolute;
    top: 150px;
    right: -5px;
    z-index: 6;
}

.card-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.card-price {
    font-size: 1.1em;
    color: #333;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 85%;
}

.card button {
    margin: 10px auto 0 auto;
    padding: 12px 20px;
    background-color: #9c131d;
    color: #fff;
    border: 2px solid #9c131d;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

.card button:hover {
    background-color: #fff;
    color: #9c131d;
    border: 2px solid #9c131d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 748px) {
    header{
        padding: 0px 5px;
    }

    .logo-group {
        flex-grow: 1;
        justify-content: center;
    }

    .sidebar.active {
        display: block;
        transform: translateX(0);
    }

    .menu-button {
        display: block;
    }

    .header-content{
        display: contents;
    }

    .buttons {
        display: none !important; 
    }

    nav{
        display: grid;
    }

    .main-elements {
        height: 20vh;
    }
    
    .main-big-text {
        padding-top:10px ;
        font-size: 28px;
    }

    .main-big-img {
        height: 20vh;
        float: right;
    }

    .horiz-button-menu button {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
        color: black;
        border: 2px solid #fff;
        
    }
}

.chatbot-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5; /* Убедитесь, что кнопка всегда поверх других элементов */
    padding: 10px 15px;
    background-color: #9c131d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Убедитесь, что чат выше других элементов */
}

.chatbot-header {
    background-color: #9c131d;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.user-message {
    text-align: right;
    color: blue;
}

.bot-message {
    text-align: left;
    color: green;
}

.chatbot-input {
    display: flex;
    padding: 10px;
}

.chatbot-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


