<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofa</title>
    <link rel="stylesheet" href="Sofa.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app">
    <div id="notifications" class="notifications"></div>
    <!-- Заголовок, логотип, навигационные ссылки -->
    <header> 
        <div class="header-content">
            <div style="display: flex; align-items: center;">
                <div class="logo-group">
                    <img src="rose.jpeg" alt="Логотип" class="logo-image" 
                    style="width: 80px; height: auto; margin-right: 20px;">
                    <div class="logo" style="margin-right: 20px;">Sofa</div>
                </div>
                <div class="buttons" style="display: flex; align-items: center; margin-right: auto;">
                    <a style="color:black; margin-right: 15px; border-bottom: 2px solid #9c131d;">Главная</a>
                    <a @click.prevent="openLogInModal" style="margin-right: 15px;">Войти</a>
                    <a @click.prevent="openUserModal" >Зарегистрироваться</a>
                </div>
            </div>
            <div style="position: relative; display: inline-block;">
                <img src="лупа.png" alt="Поиск" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px;">
                <input type="text" id="searchInput" placeholder="Поиск..." style="padding-left: 30px;"/>
            </div>
            <a id="menuToggle" class="menu-button">Меню</a>
        </div>
    </header>

    <!-- Боковая панель с навигацией -->
    <aside id="sidebar" class="sidebar">
        <nav>
            <a style="text-decoration: underline; color:black"><b>Главная</b></a>
            <a @click.prevent="openLogInModal">Войти</a>
            <a @click.prevent="openUserModal">Зарегистрироваться</a>
        </nav>
    </aside>
    <div id="notifications" class="notifications"></div>
    
    <!-- Основная часть -->
    <main>
        <div class="main-elements">
            <h1 class="main-big-text">Sofa: Магазин для художников</h1>
            <img src="Catto.png" class="main-big-img">
        </div>

        <div style="margin: 20px;">
            <div style="display: flex; justify-content: space-between;">
                <h2>О нас:</h2>
                
            </div>
            
            <p>TEXTEXTEXTEXTEXTEXTEXT TEXTEXTEXTEXTEXTEXT<br></p>
            <br>
            <br><br>

            <div class="horiz-button-menu">
                <button>Доставка</button>
                <div class="spacer-button">
                    <button>Оплата</button>
                </div>
                <button>Контакты</button>
            </div>
        </div>

        <br>

        <div style="display: flex; justify-content: space-between; margin: 20px;">
            <h2 style="vertical-align: middle;">Популярное</h2>
            <button>Каталог ></button>
        </div>
        
        <div id="symbols-container" class="symbols-container">
            
            <!-- Добавляй сюда карточки -->
        </div>
        <!-- Добавляй код сюда! -->

        <!-- Дальше идут модальные окна! -->
        <div v-if="isUserModalOpen" class="modal" @mousedown="handleMouseDown" @mouseup="handleMouseUp">
            <div class="modal-content" @click.stop>
                <span class="close" @click="closeUserModal">&times;</span>
                <h2>Зарегистрироваться в Sofa</h2>
                <p>С помощью электронной почты</p>
                <div class="button-container">
                    <button class="selected" type="button" id="buyerButton" @click="selectUserType('buyer')">Покупатель</button>
                    <button class="" type="button" id="merchantButton" @click="selectUserType('merchant')">Мерчедел</button>
                </div>
                <form id="UserForm" @submit.prevent="submitUserForm">
                    <label for="login">Логин</label>
                    <input type="login" id="user-login" required>
        
                    <label for="email">Электронная почта</label>
                    <input type="email" id="user-email" required>
        
                    <label for="password">Пароль</label>
                    <div class="password-container">
                        <input :type="isPasswordVisible ? 'text' : 'password'" id="user-password" required>
                        <a href="#" @click.prevent="togglePasswordVisibility" class="eye-link">
                            <span v-if="isPasswordVisible">👁️</span>
                            <span v-else>👁️‍🗨️</span>
                        </a>
                    </div>
        
                    <label for="password">Подтвердите пароль</label>
                    <div class="password-container">
                        <input :type="isPassword2Visible ? 'text' : 'password'" id="user-password-repeat" required>
                        <a href="#" @click.prevent="togglePassword2Visibility" class="eye-link">
                            <span v-if="isPassword2Visible">👁️</span>
                            <span v-else>👁️‍🗨️</span>
                        </a>
                    </div>
        
                    <div style = "display: grid;"v-if="userType === 'merchant'">            
                        <label for="author-nickname">Ник автора:</label>
                        <input type="text" id="author-nickname" name="author-nickname" required>

                        <label for="author-vk">Ссылка на ВК:</label>
                        <input type="url" id="author-vk" name="author-vk" required>
                    </div>
        
                    <button type="submit">Зарегистрироваться</button>
        
                    <a href="#" @click.prevent="openLogInModal">Уже есть аккаунт?</a>
                </form>
            </div>
        </div>
        

        <div v-if="isLogInModalOpen" class="modal"@mousedown="handleMouseDown" @mouseup="handleMouseUp"> 
            <div class="modal-content" @click.stop>
                <span class="close" @click="closeLogInModal">&times;</span>
                <h2>Войти в Sofa</h2>
                <form id="LogInForm" @submit.prevent="submitLogInForm">
                    <label for="login">Электронная почта/Логин</label>
                    <input id="auth-email-login-nickname" required>
                    <label for="password">Пароль</label>
                    <div class="password-container">
                        <input :type="isPasswordLoginVisible ? 'text' : 'password'" id="auth-password" required>
                        <a href="#" @click.prevent="togglePasswordLoginVisibility" class="eye-link">
                            <span v-if="isPasswordLoginVisible">👁️</span>
                            <span v-else>👁️‍🗨️</span>
                        </a>
                    </div>
                    <button type="submit">Войти</button>
                    <a href="#" @click.prevent="openRecoveryModal">Забыли пароль?</a>
                </form>
            </div>
        </div>

        <div v-if="isRecoveryModalOpen" class="modal-recovery"@mousedown="handleMouseDown" @mouseup="handleMouseUp"> 
            <div class="modal-content" @click.stop>
                <span class="close" @click="closeLogInModal">&times;</span>
                <h2>Восстановление пароля</h2>
                <form id="RecoveryForm" @submit.prevent="submitRecoveryForm">
                    <label for="login">Электронная почта</label>
                    <input id="RecoveryEmail" required>
                    <button type="submit">Подтвердить</button>
                    <a href="#" @click.prevent="openRecoveryModal">Забыли пароль?</a>
                </form>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2025 Sofa. Все права защищены.</p>
    </footer>
    <script src="scripts/Sofa.js"></script>
</div>
</body>
</html>
